body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    max-height: 50vh;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 50vw;
}
h1,
div {
    width: 50%; /* Set the width of the div */
    margin: 0 auto; /* Center the div */
  }

.text{
    font-weight: 900;
    font-style: italic;
}

h1{
    color: rgb(73, 165, 73);
    background-color: rgb(97, 25, 25);
}